body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.boxed {
    width: 100%;
    padding: 10px;
}

.bottom {
    position: absolute;
    bottom: 10px;
    width: 90%;
}

/* Split the screen in half */
.scrolling {
    overflow-x: hidden;
    overflow-y: auto;
}

/* Image information panel */
#info_panel {
    display: inline-block;
}

#right_panel {
    display: flex;
    flex-direction: column;
}

.text {
    margin-bottom: 15px;
}

/* Control the left side */
.left {
    left: 0;
}

/* Control the right side */
.right {
    right: 0;
    margin-right: 100px;
}

.board {
    height: 400px;
}

/**
 * Canvas
 */

.whiteboard {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.color {
    display: inline-block;
    height: 48px;
    width: 48px;
    margin-left: 5px;
}

.color.black {
    background-color: black;
}

.color.red {
    background-color: red;
}

.color.green {
    background-color: green;
}

.color.blue {
    background-color: blue;
}

.color.yellow {
    background-color: yellow;
}

label {
    margin-right: 5px;
}

input {
    margin-right: 5px;
}
